*{
    background-color: rgb(127, 212, 255);
}

h3{
    color: rgb(127, 142, 255);
}

#MyId{
    color: rgb(71, 117, 156);
}

.MyClass{
    color: aqua;
}

h5, p{
    color: rgb(180, 167, 255);
    font-size: 150%;
}

h4{
    color: rgb(90, 98, 255);
}